APP_PORT=3000
FASTIFY_SESSION_SECRET=
DB_PORT=
DB_HOST=
DB_USERNAME=postgres
DB_PASSWORD=1234
ENVIRONMENT=
PROFILE_DB_PORT=5432
ALLOWED_ORIGINS=localhost,localhost:4200,localhost:5173
UPLOAD_FOLDER=./upload/images/
OVER_HTTPS=true
SSL_CERT_PATH=./ssl/test.crt
SSL_KEY_PATH=./ssl/test.key
MONGO_URL='mongodb://localhost/social_media'
