APP_PORT=3000
WEB_HOST=127.0.0.1
FASTIFY_SESSION_SECRET=

PROFILE_DB_PORT=5432
PROFILE_DB_HOST=localhost
PROFILE_DB_USER=postgres
PROFILE_DB_PASSWORD=1234

MONGO_PORT=27017
MONGO_HOST=localhost

ENVIRONMENT=development
ALLOWED_ORIGINS=localhost,localhost:4200,localhost:5173
UPLOAD_FOLDER=
OVER_HTTPS=false
SSL_CERT_PATH=./ssl/test.crt
SSL_KEY_PATH=./ssl/test.key
MONGO_URL='mongodb://localhost:27017/social_media'
