APP_PORT=3000
FASTIFY_SESSION_SECRET=

PROFILE_DB_PORT=
PROFILE_DB_HOST=
PROFILE_DB_USER=
PROFILE_DB_PASSWORD=

MONGO_PORT=
MONGO_HOST=

ENVIRONMENT=development
ALLOWED_ORIGINS=localhost,localhost:4200,localhost:5173
UPLOAD_FOLDER=
OVER_HTTPS=false
SSL_CERT_PATH=./ssl/test.crt
SSL_KEY_PATH=./ssl/test.key
MONGO_URL='mongodb://{mongouser:password@mongohost:mongoport}/social_media'
