.textfield-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
}

.boton {
    border-radius: 0px;
}

#main-textfield {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}